@model  TravelTrip.Models.CommentBlogViewModel

@{
    ViewBag.Title = "BlogDetail";
}
<!DOCTYPE HTML>
<html>
<head>
    <title>Personal Blog a Blogging Category Flat Bootstarp  Responsive Website Template | Single :: w3layouts</title>
    <link href="~/web2/css/bootstrap.css" rel='stylesheet' type='text/css' />
    <link href="~/web2/css/style.css" rel='stylesheet' type='text/css' />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Personal Blog Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template,
	Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!----webfonts---->
    <link href='http://fonts.googleapis.com/css?family=Oswald:100,400,300,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,300italic' rel='stylesheet' type='text/css'>
</head>
<body>
    <!---header---->
    <div class="header">
    </div>
    <!--/header-->
    <div class="single">
        <div class="container">
            <div class="col-md-8 single-main">
                @foreach (var blog in Model.Blog)
                {
                    <div class="single-grid">
                        <img src="@blog.BlogImage" alt="" style="margin-bottom:20px" />
                        <br />
                        @blog.Title
                        <p>
                            @blog.Description
                        </p>
                    </div>
                }

                @foreach (var item in Model.Comments)
                {
                    <ul class="comment-list">
                        <li>
                            <img src="~/web2/images/avatar.png" class="img-responsive" alt="">
                            <div class="desc">
                                <p>@item.Username: @item.Comment.</p>
                            </div>
                            <div class="clearfix"></div>
                        </li>
                    </ul>
                }


                @foreach (var item in Model.Blog)
                {
                    <div class="content-form">
                        <h3>Yorum Bırakın</h3>
                        <form method="post" action="/Blog/AddComment">
                            <input type="text" id="username" name="username" placeholder="Kullanıcı Adı" required />
                            <input type="text" id="mail" name="mail" placeholder="Mail Adresi" />
                            <textarea id="comment" name="comment" placeholder="Yorum"></textarea>
                            <input value="@item.Id" name="blogId" id="blogId" type="hidden" />
                            <input type="submit" class="submit" value="Gönder" />
                        </form>
                    </div>
                }

            </div>

            <div class="col-md-4 side-content">


                <div class="recent">
                    <h3>Son Bloglar</h3>
                    <ul>
                        @foreach (var item in Model.LastBlogs)
                        {
                            <li><a href="@Url.Action("BlogDetail","Blog", new { item.Id})">@item.Title</a></li>
                        }
                    </ul>
                </div>

                <div class="comments">
                    <h3>Son Yorumlar</h3>
                    <ul>
                        @foreach (var comment in Model.LastComments)
                        {
                            <li><a href="#">@comment.Username </a> : <a href="#">@comment.Comment</a></li>
                        }
                    </ul>
                </div>


            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</body>
</html>
