@using TravelTrip.Entity.Concrete
@model IEnumerable<Blog>
@{
    ViewBag.Title = "Blog";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="content-wrapper">
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Blog Listeleme</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Admin</a></li>
                        <li class="breadcrumb-item active">Bloglar</li>
                    </ol>
                </div>
            </div>
        </div>
    </section>
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">Blog Liste Sayfası</h3>
                        </div>
                        <div class="card-body">
                            <a href="@Url.Action("AddBlog","Admin")" class="btn btn-success" style="width:50px;margin-bottom:10px" title="Add"><span class="fa fa-save"></span></a><br />
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th style="width: 10px">Id</th>
                                        <th>Başlık</th>
                                        <th>Resim</th>
                                        <th>İçerik</th>
                                        <th>Tarih</th>
                                        <th class="pull-right"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var b in Model)
                                    {
                                        <tr>
                                            <td>@b.Id</td>
                                            <td>@b.Title</td>
                                            <td>
                                                <img width="60" height="50" src="@b.BlogImage" />
                                            </td>
                                            <td>@b.Description.Substring(0, 50)</td>
                                            <td>@b.Date.ToShortDateString()</td>
                                            <td class="pull-right">
                                                <a href="@Url.Action("BlogEdit","Admin", new { b.Id })" class="btn btn-info btn-sm" title="Edit"><span class="fa fa-edit"></span></a>
                                                <a href="@Url.Action("BlogDetail","Admin", new { b.Id })" class="btn btn-warning btn-sm" title="Detail"><span class="fa fa-search"></span></a>
                                                <a href="@Url.Action("BlogDelete","Admin", new { b.Id })" class="btn btn-danger btn-sm" title="Delete"><span class="fa fa-trash"></span></a>
                                            </td>
                                        </tr>
                                    }

                                </tbody>
                            </table>
                        </div>
                        <div class="card-footer clearfix">
                            <ul class="pagination pagination-sm m-0 float-right">
                                <li class="page-item"><a class="page-link" href="#">&laquo;</a></li>
                                <li class="page-item"><a class="page-link" href="#">1</a></li>
                                <li class="page-item"><a class="page-link" href="#">2</a></li>
                                <li class="page-item"><a class="page-link" href="#">3</a></li>
                                <li class="page-item"><a class="page-link" href="#">&raquo;</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>