@using TravelTrip.Entity.Concrete
@model IEnumerable<Blog>

@{
    ViewBag.Title = "Home Page";
}

<div class="header-banner">
    <div class="wrap">
        <div class="banner">
            <div class="indent">
                <h2 class="indent-left margin-bot">Plan the Easy Trip</h2>
                <div class="banner-left">
                    <div class="con-text">
                        <div class="grid1-img">
                            <img src="~/web/images/glass.png" alt="">
                        </div>
                        <div class="grid1-desc">
                            <p>Restaurantlar</p>
                        </div>
                        <div class="clear"></div>
                    </div>
                    <div class="con-text">
                        <div class="grid1-img">
                            <img src="~/web/images/flight.png" alt="">
                        </div>
                        <div class="grid1-desc">
                            <p>Uçuşlar</p>
                        </div>
                        <div class="clear"></div>
                    </div>
                    <div class="con-text">
                        <div class="grid1-img">
                            <img src="~/web/images/group.png" alt="">
                        </div>
                        <div class="grid1-desc">
                            <p>Yapılacak Şeyler</p>
                        </div>
                        <div class="clear"></div>
                    </div>
                    <div class="con-text">
                        <div class="grid1-img">
                            <img src="~/web/images/key.png" alt="">
                        </div>
                        <div class="grid1-desc">
                            <p>Araba Kiralama</p>
                        </div>
                        <div class="clear"></div>
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="header_bottom_right_images">

                    <div class="slider" style="height:370px;width:653px">
                        <ul class="rslides" id="slider1">
                            @foreach (var m in Model)
                            {
                                <li><img src="@m.BlogImage" alt=""></li>
                            }
                        </ul>
                    </div>
                </div>
            </div>
            <div class="clear"></div>
        </div>
        <div class="clear"></div>
    </div>
</div>
<div class="content">
    <div class="wrap">
        <div class="wrapper">
            <div class="con-top">
                <h3>Tatil Seyahat Bloğuma Hoşgeldiniz!</h3>
                <p>
                    Bu projeyi Eylül 2020 tarihinde başlatılıp  Ekim 2020 tarihinde ana sayfa düzenlemelerine getirdik.
                    Gezip gördüğüm yerleri sizlerle  paylaşmak için kodlamasını tamamen kendim yaptığım mvc5 üzerine kurulu
                    dinamik bir web sitesi geliştirdik. Hem Türkiye'den hemde yurt dışından gezip gördüğüm yerleri blog yazıları
                    olarak sizlerle paylaşma niyetindeyim.
                </p>
            </div>
            <div class="con-bot">
                @Html.Action("PartialBlogListLeft", "Home")
                @Html.Action("PartialBlogListRight", "Home")
                <div class="clear"></div>
            </div>
            <div class="grids">
                <div class="box1">                    
                    @Html.Action("PartialFirstTen", "Home")

                    @Html.Action("PartialBestPlacesLeft", "Home")
                    
                    <div class="clear"></div>
                </div>
            </div>
        </div>
    </div>
</div>